/*  ___LAYOUT___   */
html { 
	overflow-y: scroll;
	color:#333;
	font-family: Helvetica, Arial;}
#doc {
    margin: auto;
    width: 970px;
}
img#logo {margin:-54px 0 0;}
#hd {
	height:54px;
	background:url('/img/headerbg.gif') repeat-x;

}
#hd #title{
	padding:0px 0 0 190px;
}
#left { 
	width:180px;	
}

#content {
	width:770px;
	padding:10px 0 0 10px;
}
#ft {
	width:970px;
	margin-top: 10px;
	border-top:1px solid #ccc;
	color:#999;
	font-size:10px;
	text-align:right;  
}

.floatleft 	{ float:left;}
.floatright 	{ float:right;}
.center		{text-align: center; }
.disabled 	{ visibility:hidden; }
.hidden, .Hidden 		{ display:none; }
.aligntop, .aligntop td	{ vertical-align: top; }
table.padded td {padding:8px; }
.clearleft 	{ clear: left; }
.clearright 	{ clear: right; }
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}


/*  ___GENERAL STYLE___     */
//logo red = #e22335
//darker red = #c21e2d
//logo yellow = #f6ab1e
//darker yellow = #db981b*/

#bd {color:#333; font-family: Helvetica, Arial;}
a {color:#e22335; text-decoration: none; }
a:hover {color:#f6ab1e}
ul {margin:0; }
ol {list-style-type: decimal;}
ol li {list-style-type: decimal; margin: 0 0 5px 25px;}
ul.list {}
ul.list li {padding: 1px 0 0 15px;	margin: 5px 0 0 15px;list-style: none;	background: url('images/orange_bullet.gif') no-repeat 0px 7px; }
strong {font-weight: bold; color:#111; }
sub {font-size: .8em; padding: 0 0 0 2px; }
sub {font-size: .5em; padding: 0 0 0 2px; }
.greek {font-family:"Times New Roman", Times, serif;}

.msg {padding:7px; border: 2px solid; margin-bottom: 5px;}
.msg a {text-decoration: underline; }
.bad { color: #D8000C; background-color: #FFF;}
.good { color: #4F8A10; background-color: #F4FBEA; }


/*  ___FORMS___     */

form {
	margin: 10px 0;
	display: block;
}

input{
    font-size: 1.1em;
    margin: 10px 5px;
    display: block;
    padding: 5px 5px;
    border: solid 1px #ccc;
    background-color: #fff;
    float: left;
}

form input[type="checkbox"]{
	margin:17px 5px 0px 5px;	
}

fieldset label{
	display: block;
	float: left;
	text-align:right;
	clear: left;
	margin: 15px 5px 0 0;	
	width: 180px;
	font-size: 1.2em;
}

fieldset .detail{
	font-size: .8em;
	color: #444;
	margin:-3px 0 0 0;
}

.button,
#ref input[type="submit"] {
	float: none;
	font-weight: bold;
	font-size: 1em;
	border: 1px solid #ccc;
	padding: 5px;
	display:inline;
	margin:0;
	color: #333;
	text-decoration: none;
	background: #ddd;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 12px;
	box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
	text-shadow: #fff 0px 1px 1px;
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
	background: -moz-linear-gradient(top,  #eeeeee,  #cccccc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
	cursor:pointer;
	}

.button:hover,
#ref input[type="submit"]:hover {
	color: #e22335;	
} 

.rounded {
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-opera-border-radius:15px;
	-khtml-border-radius:15px;
	 border-radius:15px;
}

.shadow {
	 box-shadow: 5px 5px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 5px 5px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 5px 5px 4px rgba(0,0,0,.2);
}

.vidthumb { margin:2px; }
.vidlink  {float: left; margin:4px; width: 125px; height:125px; overflow: hidden; text-align: center; font-size: .8em; }

/*  ___Data Tables___   */


.data td 				{ border-bottom:1px solid #ccc; padding:2px 9px; text-align:left;}
.data th 				{ border-bottom:3px solid #ccc; padding:2px 9px; text-align:left; font-weight: bold;}
td.newcol, th.newcol { border-left:1px solid #999; }

.datacompact td 				{ border-bottom:1px solid #999; padding:2px 6px; text-align:left;}
.datacompact th 				{ border-bottom:3px solid #ccc; padding:2px 6px; text-align:left; }

/*  ___Tabs___   */
/* root element for tabs  */
ul.tabs {  
	margin:0 !important; 
	padding:0;
	height:30px;
font-weight: bold;
	//border-bottom:1px solid #999;		
}

/* single tab */
ul.tabs li {  
	float:left;	 
	padding:0; 
	margin:0;  
	list-style-type:none;	
}

/* link inside the tab. uses a background image */
ul.tabs a { 
	float:left;
	font-size:13px;
	display:block;
	padding:5px 15px;	
	text-decoration:none;
	border:1px solid #999;	
	border-bottom:0px;
	height:18px;
	background-color:#efefef;
	color:#333;
	margin-right:2px;
	position:relative;
	top:1px;	
	outline:0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
}

ul.tabs a:hover {
	background-color:#F7F7F7;
	color:#333;
}
	
/* selected tab */
ul.tabs a.current {
	background-color:#f8f8f8;
	border-bottom:1px solid #f8f8f8;	
	color:#f6ab1e;	
	cursor:default;
}

	
/* tab pane */
div.pane {
	overflow:auto;
	background-color: #f8f8f8;
	border:1px solid #999;
	padding:15px 20px;
	margin: 15px 0;
	box-shadow: 5px 5px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 5px 5px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 5px 5px 4px rgba(0,0,0,.2);

}

.panes div.pane {
	display:none;
	min-height:150px;
	margin-top: 0px;
}

.pane h1 {
	font-size: 2.5em;
	margin: 10px 0 15px 0;	
}
.pane h2 { 
	font-size: 2em; 
	margin: 5px 0 10px 0;
}
.pane .title,
.pane h3 {
	font-size:1.6em;
	margin: 10px 0 10px 0;
}
.pane h4 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 5px 0 5px 0;	
}


/*  ___Overlays___   */

img[rel] {cursor: pointer; }

/* the overlayed element */
.overlay {
	display:none;
	z-index:10000;
	background-color:#333;
	width:750px;	
	height:525px;
	border:1px solid #666;
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 10px 10px 10px rgba(0,0,0,.4);
}

.overlay .close {
	background-image:url("/css/images/close.png");
	position:absolute;
	right:-30px;
	top:-30px;
	cursor:pointer;
	height:35px;
	width:35px;
}


/*  ___HEADER___ */
#hd #title { font-family: 'Lobster', serif; font-size: 41px; color:#fff; line-height: 1.1; letter-spacing: .03em; }


#hd img#end {float: right; }
#hd #countdown {float:right; text-align:center; color:#fff; margin:-4px 4px 0 0;}
#hd #countdown #count { font-size:2.5em; font-family:impact; }
#hd #countdown #unit  { font-size:.6em; font-weight: bold; margin-top: -5px; }
#hd #rddate {float: right; margin: 0px -40px 0 0; color: #f6ab1e; font-weight: bold; line-height: 1.3em;}


/*  ___LEFT MENU___   */
#left li {list-style:none; margin:2px 0; }
#mainnav {font-size: 1.3em; text-align:center; margin:10px 0;}

#leftmenu input {
	float: none;	
}

#googlesearch {
	text-align: center;
	width:180px;
}

#login{
	text-align: center;
	background:#f8f8f8;
	border: 1px solid #ccc;
	padding:5px 10px
}

#login label {
	font-size: 1em;
	text-align: left;
	margin:0 0 3px 5px;
	width: 50px	
}

#login input[type="text"], #login input[type="password"] {
	font-size: .9em;
}

#socialmedia {
	margin:25px 0;
	width:180px;
	text-align: center;	
}

#homepage h3 {font-weight: bold; font-size: 1.1em; margin-bottom: 5px;}
#homepage .pane {overflow: visible; }

/*  ___Homepage Rotating FeaturePic___   */
#homepage #featurepic { 
	margin:16px 0 25px 0; 
	position:relative;
	overflow:hidden;
	width: 500px;
	height: 250px;
	float:left;
}

/* root element for the scroll pics */
#homepage #featurepic .scrollitems {
	width:20000em;
	position:absolute;
	clear:both;
}

/* single scroll item */
#homepage #featurepic .scrollitems .item {
	float:left;
	cursor:pointer;
	width:500px !important;
	height:250px;
	margin:0px;
}

#featurepic .caption {
	width:490px;
	color:#fff;
	background-color: rgba(0,0,0,.5);
	padding:5px;
	position:absolute;
	
	margin:225px 0 0 0;	
}

/*  ___Homepage Content Items___   */
.item 						{ height: 49px; padding: 3px; margin:4px 4px 4px 0;}
.icon							{ width:45px; height: 45px; background-color: #eee; color:#888; float:left; border:2px solid #ccc;
								  margin-right:8px; font-size: 2em; text-align: center; -moz-border-radius: 5px;
								  border-radius: 5px; font-size: 10px; }
.newsicon					{ background:#f6ab1e; }
.newsicon img				{ margin-top: 3px; }
.newscommenticon img		{ margin-top: 3px; }
.newscommenticon img.commenticon	{ margin-top:30px; z-index: 2; position: absolute; left:47px; }
.redditicon img.commenticon { margin-top:30px; z-index: 2; position: absolute; left:47px; }
.forumicon img				{ width:25px; height: 25px; margin-top: 2px;}
.galleryicon img 			{ margin:30px -47px 0 0}
.referenceicon 			{ font-size: 9px; }
.referenceicon img		{ width:30px; height: 30px; }
.galleryicon 				{ border:0; width:49px; height:49px; -moz-background-size:100% 100%; background-size:100% 100%;}
.dateicon .dayofweek		{ text-transform:uppercase; font-weight:bold; font-size:13px;}
.dateicon .day				{ font-size:14px; font-weight:bold;}
.detail 						{ font-size: .9em; color: #777; text-align: right;}
.status_neg					{ color:#ff3300;}
.status_pos					{ color:#339900;}
.status_disabled			{ font-style:italic; color:#888;}
.actions a					{ cursor: pointer; }

/*  ___Homepage Scrollable Content Feed___   */
#contentfeed 		 		{ float:right; margin: 0 0 0 5px; width:255px;}
#contentfeed .item		{ width:247px; }
#recentnews 				{ margin:0 0 13px 0; }
#recentactivityh3			{ margin-top: 23px; }
#recentactivity 			{ height:472px; position:relative; overflow:hidden; }
#recentactivity .items 	{ position:absolute; margin: 0px; height:20000em; }

#contentfeed .actions 	{ padding:10px 0 0 0; }
#contentfeed .feednext	{ float:right;}

/*  ___Freeroll Status Scrollable Content___   */
#rollslist					{ height:114px; position:relative; overflow:hidden; }
#rollslist .group			{ height:114px; }
#rollslist .items			{ position:absolute; margin: 0px; height:20000em; width:190px;}
#rollschedule .feednext { padding-left:40px; }

/*  ___Edit in place forms____  */

table.editable 	{ width:725px;table-layout:fixed; }
table.editable tr { height:1em;  }
table.editable td { overflow:hidden;white-space:nowrap;  }
table.editable td { border-bottom:1px solid #ccc; padding:0px 6px; text-align:left;}
table.editable th { border-bottom:3px solid #ccc; padding:2px 6px; text-align:left; font-weight: bold;}

.inplace_form input { padding:0; margin:0; font-size: 1em;}



