*~

# exclude secrets
dbconfig.json

# exclude content uploaded through Wordpress
content/cache/*
files/
upload/

# exclude node_modules and dist from css/bootstrap-src
css/bootstrap-src/dist
css/bootstrap-src/node_modules

# exclude Python virtual env
venv/

# exclude everything in /forum except README.md and styles/cmubuggy
forum/*
!forum/README.md
forum/styles/*
!forum/styles/cmubuggy

# Misc larger supporting directories
img/buggy/
img/mediaicons/
img/news/
lib/pChart/
lib/pog/setup/
lib/pog/configuration.php

# exclude everything in /news except .htaccess and wp-content/themes/cmubuggy-child
news/*
!news/.htaccess
!news/README.md
!news/wp-content
news/wp-content/*
!news/wp-content/themes
news/wp-content/themes/*
!news/wp-content/themes/cmubuggy-child

.DS_Store
__pycache__
