*~
basicbackdoorscriptfinder.php
bid2011/
bid/development-bundle
bid/backup/
content/cache/*
dbconfig.json
files/

# exclude node_modules and dist from css/bootstrap-src
css/bootstrap-src/dist
css/bootstrap-src/node_modules

# exclude everything in /forum except README.md and styles/cmubuggy
forum/*
!forum/README.md
forum/styles/*
!forum/styles/cmubuggy

# exclude everything in /gallery except README.md and themes/cmubuggy
gallery/*
!gallery/README.md
gallery/themes/*
!gallery/themes/cmubuggy

img/buggy/
img/mediaicons/
img/news/
lib/pChart/
lib/pog/setup/
lib/pog/configuration.php

# exclude everything in /news except .htaccess and wp-content/themes/cmubuggy-child
news/*
!news/.htaccess
!news/README.md
!news/wp-content
news/wp-content/*
!news/wp-content/themes
news/wp-content/themes/*
!news/wp-content/themes/cmubuggy-child

upload/

.DS_Store
__pycache__
