*~
basicbackdoorscriptfinder.php
bid2011/
bid/development-bundle
bid/backup/
content/cache/*
dbconfig.inc
files/
forum/
gallery/
img/buggy/
img/mediaicons/
img/news/
lib/pChart/
lib/pog/setup/
lib/pog/configuration.php
mediawiki/
news/


