php_flag display_errors on
# BEGIN Gzip
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript image/svg+xml
</IfModule>
# END Gzip

# Deny access to dbconfig.inc file via website
<FilesMatch "^dbconfig.json$">
	Order allow,deny
	Deny from all
</FilesMatch>

RewriteEngine On    # Turn on the rewriting engine


# Old URLs with new homes - 301 (perm) redirect
# Better for SEO: https://developers.google.com/search/docs/advanced/crawling/301-redirects
Redirect 301 /join /membership
Redirect 301 /admin /news/wp-admin
# /gallery-2021 was a temporary thing while we migrated to smugmug.
Redirect 301 /gallery-2021 /smugmug
Redirect 301 /live /raceday/live

# We use 302 (temp) redirects for things that are hosted off site.

# When the store is closed, /merch is handled by the wordpress fallback, and
# /store redirects to /merch.
#Redirect 302 /merch https://pogo.undergroundshirts.com/collections/cmu-buggy-centennial-apparel
Redirect 302 /store /merch

Redirect 302 /auction https://www.32auctions.com/baaprelims2022
Redirect 302 /chat https://discord.gg/PUwuUuj
Redirect 302 /poster100 https://bookstore.web.cmu.edu/MerchDetail?MerchID=1647483
Redirect 302 /fantasy https://docs.google.com/forms/d/e/1FAIpQLSeiUE_9vJIAAo67G_mIZCvEfi3Obe6omOYbWaYqNVcXwNTw2w/viewform?usp=sf_link
Redirect 302 /smugmug https://cmubuggy.smugmug.com/

# Chute the Sh!t
Redirect 302 /podcast https://linktr.ee/cmubuggy
Redirect 302 /spotify https://open.spotify.com/show/3wbaYb92dfzuWDUbOOxHWi

# April 2022 Indy 500 Webinar Signup
Redirect 302 /indy500 https://forms.gle/XxoCtAaifRyM5sag6

# 2022 Raceday Volunteer Form
Redirect 302 /volunteer https://docs.google.com/forms/d/e/1FAIpQLSeca9G08KAzIKgyOJ2CV5xAgquJ2dsubwC5CsyCkCgPIZI1YA/viewform

# Crowdsourced Timing Tool
Redirect 302 /timing https://buggy-timing.bubbleapps.io/

# Raceday 2020
RedirectMatch 302 (?i)/RD20 https://cmu.zoom.us/j/91610341394

# Rewrite some iOS favicon handling (404 the precompsed icon, push the root apple-touch-icon to favicons/)
# This is needed so they don't get caught by the /news redirect.
RewriteRule		^apple-touch-icon.png$			favicons/apple-touch-icon.png	[NC,L]
RewriteRule		^apple-touch-icon-precomposed.png$	-							[L,R=404]

#top level sections
RewriteRule		^history[/]*$					index.php?s=history				[NC,L]
RewriteRule		^search[/]*$					index.php?s=search				[NC,L]

#history section: specific objects
RewriteRule		^history/buggy/([a-z0-9\-]+)/?$						index.php?s=history&p=buggy&urlkey=$1			[NC,L]
RewriteRule		^history/org/([a-z0-9]+)/?$							index.php?s=history&p=org&urlkey=$1				[NC,L]
RewriteRule		^history/person/([a-z0-9]+)/?$						index.php?s=history&p=person&id=$1				[NC,L]
RewriteRule		^history/raceday/([0-9]+)/?$						index.php?s=history&p=raceday&year=$1			[NC,L]
RewriteRule		^history/sweepstakes/([0-9]+)/?$					index.php?s=history&p=sweepstakes&year=$1		[NC,L]
RewriteRule		^history/team/([a-z0-9.]+)/?$						index.php?s=history&p=entry&urlkey=$1			[NC,L]

#history section: categories (and list versions of the specific object pages)
RewriteRule		^history/award[/]*$									index.php?s=history&p=awards 					[NC,L]
RewriteRule		^history/buggy[/]*$									index.php?s=history&p=buggylist					[NC,L]
RewriteRule		^history/buggybook[/]*$								index.php?s=history&p=buggybook					[NC,L]
RewriteRule		^history/org[/]*$									index.php?s=history&p=orglist					[NC,L]
# /person needs to have the QSA flag in order to preserve the query string for searches.
RewriteRule		^history/person[/]*$								index.php?s=history&p=personlist				[NC,L,QSA]
RewriteRule		^history/raceday[/]*$								index.php?s=history&p=racedaylist				[NC,L]
# /record is obsolete, but keep it here to allow any dead links to work.
RewriteRule		^history/record[/]*$								index.php?s=history&p=toptimes 					[NC,L]
RewriteRule		^history/toptimes[/]*$								index.php?s=history&p=toptimes 					[NC,L]
RewriteRule		^history/sweepstakes[/]*$							index.php?s=history&p=sweepstakes 				[NC,L]

#/team without a url parameter we will send to the org list, since there isn't an "entry list" per se.
RewriteRule		^history/team[/]*$									index.php?s=history&p=orglist						[NC,L]

#raceday section
RewriteRule		^raceday/leaderboard[/]*$							index.php?s=raceday&p=leaderboard				[NC,L]
RewriteRule		^raceday/rosters/([0-9]+)/?$						index.php?s=raceday&p=rosters&year=$1			[NC,L]
RewriteRule		^raceday/rosters/([0-9]+)/([a-z0-9]+)/?$			index.php?s=raceday&p=rostersorg&year=$1&org=$2	[NC,L]

# Rosters with no parameter has some current-year based defaulting logic.
RewriteRule		^raceday/rosters[/]*$								index.php?s=raceday&p=rosters					[NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ news/$1 [L,NC,QSA]
