php_flag display_errors on
# BEGIN Gzip
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript image/svg+xml
</IfModule>
# END Gzip

# Deny access to dbconfig.inc file via website
<FilesMatch "^dbconfig.json$">
	Order allow,deny
	Deny from all
</FilesMatch>

# Deny access to .git directory
RedirectMatch 404 /\.git

RewriteEngine On    # Turn on the rewriting engine


# Old URLs with new homes - 301 (perm) redirect
# Better for SEO: https://developers.google.com/search/docs/advanced/crawling/301-redirects
# In ancient times we used /Join instead of /join, so we need to be case-insensitve.
RedirectMatch 301 (?i)/join/?$ /membership
Redirect 301 /admin /news/wp-admin
# /gallery-2021 was a temporary thing while we migrated to smugmug.
Redirect 301 /gallery-2021 /smugmug

# Some old links pointed at /resources before it got merged with the reference section.
Redirect 302 /resources /reference

# Things that are obsolete and didn't survive the mysql/php upgrades in 2023.
# 302 because they _might_ come back...
#
# Use RewriteRule to catch all parameters/paths
# Uncomment the following line to allow gallery/var/ablums to continue to serve
# if needed -- since it is just direct links to image files.
# RewriteRule ^(gallery/var/albums/.*)	$1	[L,NC]
RewriteRule ^gallery/?		/news/obsolete	[R,L,NC]
RewriteRule ^forum/?		/news/obsolete	[R,L,NC]

# First pass at dealing with legacy org ids, which we need to get out
# of search engines by redirecting them.  Preferably should be done
# in PHP code via lookup table, but this is simple and there's
# not that many.  Use 302 while testing this, convert to 301 later.
#
# To avoid conflicts with other rewrite rules, we actually have to do
# this with mod_rewrite and not regular redirects.
#
# mod_rewrite defaults to a 302, to do a 301, use R=301 instead.
#
# Only covers the 35 orgs that had data prior to 2022 update.  We don't
# rewrte if the url key didn't change (e.g. "CIA", "ATO", etc)
RewriteRule ^history/org/aepi/?$		/history/org/AEP	[R,L,NC]
RewriteRule ^history/org/afrotc/?$		/history/org/AFR	[R,L,NC]
RewriteRule ^history/org/apex/?$		/history/org/APX	[R,L,NC]
RewriteRule ^history/org/beta/?$		/history/org/BTP	[R,L,NC]
RewriteRule ^history/org/cmutv/?$		/history/org/CMTV	[R,L,NC]
RewriteRule ^history/org/deltaforce/?$	/history/org/DF		[R,L,NC]
RewriteRule ^history/org/fringe/?$		/history/org/FRI	[R,L,NC]
RewriteRule ^history/org/kappa/?$		/history/org/KKG	[R,L,NC]
RewriteRule ^history/org/kapsig/?$		/history/org/KS		[R,L,NC]
RewriteRule ^history/org/kkgzbt/?$		/history/org/KZ		[R,L,NC]
RewriteRule ^history/org/nrotc/?$		/history/org/NR		[R,L,NC]
RewriteRule ^history/org/phidelt/?$		/history/org/PDT	[R,L,NC]
RewriteRule ^history/org/pioneers/?$	/history/org/PIO	[R,L,NC]
RewriteRule ^history/org/pika/?$		/history/org/PKA	[R,L,NC]
RewriteRule ^history/org/phikap/?$		/history/org/PKT	[R,L,NC]
RewriteRule ^history/org/sigep/?$		/history/org/SEP	[R,L,NC]
RewriteRule ^history/org/spirit/?$		/history/org/SPI	[R,L,NC]
RewriteRule ^history/org/sigtau/?$		/history/org/STG	[R,L,NC]
RewriteRule ^history/org/radioclub/?$	/history/org/W3VC	[R,L,NC]
RewriteRule ^history/org/taudeltaphi/?$		/history/org/TDP	[R,L,NC]
RewriteRule ^history/org/betasigmarho/?$	/history/org/BSR	[R,L,NC]
RewriteRule ^history/org/pilam/?$		/history/org/PLP	[R,L,NC]


#### Livestream related links.
#
# cmubuggy.org/live: This is the link that is directly mentioned in the
# toolbar of the /raceday pages. This should _always_ be a 302 redirect.
#
# On non-raceday, /live can be redirected to our own wordpress page.
# /raceday/livestream is the wordpress embedded livestream page
# Redirect 302 /live /raceday/livestream

# On Raceday, we should redirect /live to the site of the stream itself.
#
# 2022 CMUtv Livestream
# Redirect 302 /live https://livestream.com/cmutvlive/buggy100
# 2023 CMUtv Livestream
Redirect 302 /live https://livestream.com/cmutvlive/buggy2023

# /raceday/live was a nonexistant page that /live pointed at in early 2022,
# so this ensures we get to a reasonable spot.  Not sure how critical this
# is to maintain, using a 301 to strongly transfer it though.
Redirect 301 /raceday/live /live

# We use 302 (temp) redirects for things that are hosted off site so we can
# reclaim them easily we need to.

# When the store is closed, /merch is handled by the wordpress fallback, and
# /store redirects to /merch.
Redirect 302 /store /merch
Redirect 302 /merch https://www.customink.com/g/xyd0-00cq-75cp

Redirect 302 /auction https://www.32auctions.com/LeadTruck2023

Redirect 302 /chat https://discord.gg/PUwuUuj
Redirect 302 /poster100 https://bookstore.web.cmu.edu/MerchDetail?MerchID=1647483
Redirect 302 /smugmug https://cmubuggy.smugmug.com/

# Survey/Endowment Grant Links (Fall 2023)
Redirect 302 /2023membersurvey https://forms.gle/Gnbj4jLNfGatm8hf7
Redirect 302 /2023designvolunteer https://forms.gle/DhycG2Sydk1rjYaB6
Redirect 302 /2023interest https://forms.gle/cVePbgEwpaatGuqn8
Redirect 302 /2023fallgrant https://docs.google.com/forms/d/e/1FAIpQLSefjRHZ-VMTEaNrgTrperVtvxH0iSKObEBLn0cSgmzB_8_Kjw/viewform
Redirect 302 /F23rollsreporters https://docs.google.com/spreadsheets/d/1JGh_IGxl05nmFhDZQKNYxarzjuVqDByIN3MmVvPgHyc/edit

# Raceday Volunteer Links (Raceday 2023)
Redirect 302 /volunteer https://docs.google.com/forms/d/1GMBfdeNFJ0DzMtzlP2Cho52Jya_IKgTOz-k8-u75BF0/viewform
Redirect 302 /broadcast-volunteer https://docs.google.com/forms/d/e/1FAIpQLSfj8vuGN8HjQYOIWG02wGVwh34URDdYqb9vXAYhWQ1biGZoqA/viewform

# Chute the Sh!t
Redirect 302 /podcast https://linktr.ee/cmubuggy
Redirect 302 /spotify https://open.spotify.com/show/3wbaYb92dfzuWDUbOOxHWi

# Crowdsourced Timing Tool
Redirect 302 /timing https://buggy-timing.bubbleapps.io/

# 2023 BAA Officer voting
Redirect 302 /vote https://docs.google.com/forms/d/e/1FAIpQLSd77ejvki5-QnViSls29edardm90FeFVG7MkS4B5ZufuoYHaw/viewform

# Rewrite some iOS favicon handling (404 the precompsed icon, push the root apple-touch-icon to favicons/)
# This is needed so they don't get caught by the /news redirect.
RewriteRule		^apple-touch-icon.png$			favicons/apple-touch-icon.png	[NC,L]
RewriteRule		^apple-touch-icon-precomposed.png$	-							[L,R=404]

#top level sections
RewriteRule		^history[/]*$					index.php?s=history				[NC,L]
RewriteRule		^search[/]*$					index.php?s=search				[NC,L]

#history section: specific objects
RewriteRule		^history/buggy/([a-z0-9\-]+)/?$						index.php?s=history&p=buggy&urlkey=$1			[NC,L]
RewriteRule		^history/org/([a-z0-9]+)/?$							index.php?s=history&p=org&urlkey=$1				[NC,L]
RewriteRule		^history/person/([a-z0-9]+)/?$						index.php?s=history&p=person&id=$1				[NC,L]
RewriteRule		^history/raceday/([0-9]+)/?$						index.php?s=history&p=raceday&year=$1			[NC,L]
RewriteRule		^history/sweepstakes/([0-9]+)/?$					index.php?s=history&p=sweepstakes&year=$1		[NC,L]
RewriteRule		^history/team/([a-z0-9.]+)/?$						index.php?s=history&p=entry&urlkey=$1			[NC,L]

#history section: categories (and list versions of the specific object pages)
RewriteRule		^history/award[/]*$									index.php?s=history&p=awards 					[NC,L]
RewriteRule		^history/buggy[/]*$									index.php?s=history&p=buggylist					[NC,L]
RewriteRule		^history/buggybook[/]*$								index.php?s=history&p=buggybook					[NC,L]
RewriteRule		^history/org[/]*$									index.php?s=history&p=orglist					[NC,L]
# /person needs to have the QSA flag in order to preserve the query string for searches.
RewriteRule		^history/person[/]*$								index.php?s=history&p=personlist				[NC,L,QSA]
RewriteRule		^history/raceday[/]*$								index.php?s=history&p=racedaylist				[NC,L]
# /record is obsolete, but keep it here to allow any dead links to work.
RewriteRule		^history/record[/]*$								index.php?s=history&p=toptimes 					[NC,L]
RewriteRule		^history/toptimes[/]*$								index.php?s=history&p=toptimes 					[NC,L]
RewriteRule		^history/sweepstakes[/]*$							index.php?s=history&p=sweepstakes 				[NC,L]

#/team without a url parameter we will send to the org list, since there isn't an "entry list" per se.
RewriteRule		^history/team[/]*$									index.php?s=history&p=orglist						[NC,L]

#raceday section
RewriteRule		^raceday/leaderboard[/]*$							index.php?s=raceday&p=leaderboard				[NC,L]
RewriteRule		^raceday/rosters/([0-9]+)/?$						index.php?s=raceday&p=rosters&year=$1			[NC,L]
RewriteRule		^raceday/rosters/([0-9]+)/([a-z0-9]+)/?$			index.php?s=raceday&p=rostersorg&year=$1&org=$2	[NC,L]

# Rosters with no parameter has some current-year based defaulting logic.
RewriteRule		^raceday/rosters[/]*$								index.php?s=raceday&p=rosters					[NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ news/$1 [L,NC,QSA]
