php_flag display_errors on
# BEGIN Gzip
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript image/svg+xml
</IfModule>
# END Gzip

# Deny access to dbconfig.inc file via website
<FilesMatch "^dbconfig.json$">
	Order allow,deny
	Deny from all
</FilesMatch>

# Deny access to .git directory
RedirectMatch 404 /\.git

RewriteEngine On    # Turn on the rewriting engine

# Old URLs with new homes - 301 (perm) redirect
# Better for SEO: https://developers.google.com/search/docs/advanced/crawling/301-redirects
#
# For most things we use 302 (temp) redirects so we can reclaim them easily
# should we need to.

# In ancient times we used /Join instead of /join, so we need to be case-insensitve.
RedirectMatch 301 (?i)/join/?$ /membership
Redirect 301 /admin /news/wp-admin
# /gallery-2021 was a temporary thing while we migrated to smugmug.
Redirect 301 /gallery-2021 /smugmug
# /about/code-of-conduct got revised to /about/our-rules when we moved
# the bylaws and constitution to be the same place.
Redirect 301 /about/code-of-conduct /about/our-rules
Redirect 302 /news/about/code-of-conduct /about/our-rules
# Some old links pointed at /resources before it got merged with the reference section.
Redirect 301 /resources /reference

# Several pages used to be top level links served by wordpress that have moved one level
# down for breadcrumb reasons.  Wordpress canonicalization sometimes will save us but isn't
# reliable (and tends to add /news also) so make sure they go where we want.
Redirect 301 /video /history/video
Redirect 301 /seniors /membership/seniors

# Things that are obsolete and didn't survive the mysql/php upgrades in 2023.
# 302 because they _might_ come back...
#
# Use RewriteRule to catch all parameters/paths
# Uncomment the following line to allow gallery/var/ablums to continue to serve
# if needed -- since it is just direct links to image files.
# RewriteRule ^(gallery/var/albums/.*)	$1	[L,NC]
RewriteRule ^gallery/?		/news/obsolete	[R,L,NC]
RewriteRule ^forum/?		/news/obsolete	[R,L,NC]

# First pass at dealing with legacy org ids, which we need to get out
# of search engines by redirecting them.  Preferably should be done
# in PHP code via lookup table, but this is simple and there's
# not that many.
#
# To avoid conflicts with other rewrite rules, we actually have to do
# this with mod_rewrite and not regular redirects.
#
# mod_rewrite defaults to a 302, to do a 301, use R=301 instead.
#
# Only covers the 35 orgs that had data prior to 2022 update.  We don't
# rewrte if the url key didn't change (e.g. "CIA", "ATO", etc)
RewriteRule ^history/org/aepi/?$		/history/org/AEP	[R=301,L,NC]
RewriteRule ^history/org/afrotc/?$		/history/org/AFR	[R=301,L,NC]
RewriteRule ^history/org/apex/?$		/history/org/APX	[R=301,L,NC]
RewriteRule ^history/org/beta/?$		/history/org/BTP	[R=301,L,NC]
RewriteRule ^history/org/cmutv/?$		/history/org/CMTV	[R=301,L,NC]
RewriteRule ^history/org/deltaforce/?$	/history/org/DF		[R=301,L,NC]
RewriteRule ^history/org/fringe/?$		/history/org/FRI	[R=301,L,NC]
RewriteRule ^history/org/kappa/?$		/history/org/KKG	[R=301,L,NC]
RewriteRule ^history/org/kapsig/?$		/history/org/KS		[R=301,L,NC]
RewriteRule ^history/org/kkgzbt/?$		/history/org/KZ		[R=301,L,NC]
RewriteRule ^history/org/nrotc/?$		/history/org/NR		[R=301,L,NC]
RewriteRule ^history/org/phidelt/?$		/history/org/PDT	[R=301,L,NC]
RewriteRule ^history/org/pioneers/?$	/history/org/PIO	[R=301,L,NC]
RewriteRule ^history/org/pika/?$		/history/org/PKA	[R=301,L,NC]
RewriteRule ^history/org/phikap/?$		/history/org/PKT	[R=301,L,NC]
RewriteRule ^history/org/sigep/?$		/history/org/SEP	[R=301,L,NC]
RewriteRule ^history/org/spirit/?$		/history/org/SPI	[R=301,L,NC]
RewriteRule ^history/org/sigtau/?$		/history/org/STG	[R=301,L,NC]
RewriteRule ^history/org/radioclub/?$	/history/org/W3VC	[R=301,L,NC]
RewriteRule ^history/org/taudeltaphi/?$		/history/org/TDP	[R=301,L,NC]
RewriteRule ^history/org/betasigmarho/?$	/history/org/BSR	[R=301,L,NC]
RewriteRule ^history/org/pilam/?$		/history/org/PLP	[R=301,L,NC]

#### Livestream related links.
#
# cmubuggy.org/live: This is the link that is directly mentioned on the home page
# for raceday. This should _always_ be a 302 redirect.

# On Raceday, we should redirect /live to the site of the stream itself.
#
# 2022 CMUtv Livestream
# Redirect 302 /live https://livestream.com/cmutvlive/buggy100
# 2023 CMUtv Livestream
# Redirect 302 /live https://livestream.com/cmutvlive/buggy2023
# 2024 CMUtv Livestream
# Redirect 302 /live https://livestream.com/cmutvlive/buggy2024
# 2025 (4 different links)
# Day 1
# Redirect 302 /live https://www.youtube.com/live/Z0IWXqoaLpk
# Day 2 - no content
# Redirect 302 /live https://www.youtube.com/live/qeC1cDllS8M
# Bonus Day 1
# Redirect 302 /live https://www.youtube.com/live/4ZnXRSiNjjE
# Bonus Day 2
# Redirect 302 /live https://www.youtube.com/live/Qwrwghs5WWQ
#
# RD26
# Mini-Raceday (Nov 8)
Redirect 302 /live https://www.youtube.com/live/DCVFWIeocGI

# Fall 25 Buggy Rewatch Event
Redirect 302 /rewatch2025 https://youtube.com/live/DeYWaVsIs60

# /raceday/live was a nonexistant page that /live pointed at in early 2022,
# so this ensures we get to a reasonable spot.  Not sure how critical this
# is to maintain, using a 301 to strongly transfer it though.
Redirect 301 /raceday/live /live

# YouTube Shortlinks
Redirect 302 /yt https://youtube.com/cmubuggy
Redirect 302 /yt/intro https://www.youtube.com/watch?v=TPKQenBolWY

# When the store is closed, /merch is handled by the wordpress fallback, and
# /store redirects to /merch.
Redirect 302 /store /merch
Redirect 302 /merch https://www.customink.com/fundraising/baasweatshirt2025

# Lead Truck Auction or Placeholder
# Redirect 302 /auction https://www.32auctions.com/LeadTruck2023
# Redirect 302 /auction https://www.32auctions.com/BuggyLeadTruck2024
# Redirect 302 /auction https://www.32auctions.com/LeadTruck2025
Redirect 302 /auction https://cmubuggy.org/raceday/auction-coming-soon/

Redirect 302 /chat https://discord.gg/PUwuUuj
Redirect 302 /poster100 https://bookstore.web.cmu.edu/MerchDetail?MerchID=1647483
Redirect 302 /smugmug https://cmubuggy.smugmug.com/

# Survey/Endowment Grant Links (RD 26)
Redirect 302 /2025membersurvey https://docs.google.com/forms/d/e/1FAIpQLSf6McuuycAoM7wgUDIVZd6XqWFqh_6G85G4UZir7HT4yO_IcA/viewform?usp=dialog
Redirect 302 /2025fallgrant https://docs.google.com/forms/d/e/1FAIpQLSf6UEVgxjj_hyo_cIZOfbUsbirLT3wr4dSZZysahUBDWGFmGg/viewform?usp=pp_url&entry.1887096768=I+would+like+for+my+proposal+to+be+automatically+submitted+for+an+extension+in+the+spring

# Survey/Endowment Grant Links (RD 25)
Redirect 302 /2024membersurvey https://forms.gle/UD9ZtPENRH96T7Jq8
Redirect 302 /2024fallgrant https://docs.google.com/forms/d/e/1FAIpQLSduCuASvVKPOt56BWznpaGmQz1E3MyKu6JBLUEd6UrnRkL5nA/viewform?usp=pp_url&entry.1887096768=I+would+like+for+my+proposal+to+be+automatically+submitted+for+an+extension+in+the+spring
Redirect 302 /2025springgrant https://docs.google.com/forms/d/e/1FAIpQLSevrOjZRSJuOUvmjXXUHNawm3kIV-ZMh3sAPzTBr95MDtIexg/viewform

# Survey/Endowment Grant Links (RD 24)
Redirect 302 /2023membersurvey https://forms.gle/Gnbj4jLNfGatm8hf7
Redirect 302 /2023designvolunteer https://forms.gle/DhycG2Sydk1rjYaB6
Redirect 302 /2023interest https://forms.gle/cVePbgEwpaatGuqn8
Redirect 302 /2023fallgrant https://docs.google.com/forms/d/e/1FAIpQLSefjRHZ-VMTEaNrgTrperVtvxH0iSKObEBLn0cSgmzB_8_Kjw/viewform
Redirect 302 /2024springgrant https://docs.google.com/forms/d/e/1FAIpQLSdLwjjwJRKyg6qFC4hEMC7kA30dmOhSL9x5jdrh-FdgGNbm5w/viewform

# Volunteer Links (Raceday & Bonus Raceday 2025)
# Redirect 302 /volunteer https://docs.google.com/forms/d/e/1FAIpQLScn8Cs6CVzRP_ON5Zka2NJvV2PvnKr3rYyv59YxF9lbZVmGOg/viewform
# Redirect 302 /broadcast-volunteer https://docs.google.com/forms/d/e/1FAIpQLSdF1Y3JFKUsOfcpcsA0B_10lonbKMyeXCKT_9mazY1OaHh5HA/viewform
# Mini-Raceday 2025
Redirect 302 /volunteer https://forms.gle/xjNEM2hFPqdSTwza9

# Volunteer Links (Rolls Reporting)
Redirect 302 /F23rollsreporters /rollsreporters
Redirect 302 /rollsreporters https://docs.google.com/spreadsheets/d/1JGh_IGxl05nmFhDZQKNYxarzjuVqDByIN3MmVvPgHyc/edit

# Chute the Sh!t
Redirect 302 /podcast https://linktr.ee/cmubuggy
Redirect 302 /spotify https://open.spotify.com/show/3wbaYb92dfzuWDUbOOxHWi

# Crowdsourced Timing Tool
# Legacy App
# Redirect 302 /timing https://buggy-timing.bubbleapps.io/
# New Firestore App
Redirect 302 /timingapp https://buggy-timing-900.web.app/

# Member Preview Link to Truck Weekend Time Sheet
Redirect 302 /truck24times https://docs.google.com/spreadsheets/d/18EhfvinzOHDm44hKXtO_q9uOKCCDXqEfgRgHqLdqlxU/edit#gid=347337235
Redirect 302 /truck25times https://docs.google.com/spreadsheets/d/1iFwkSQrl8uU5pEsoPZhtw2daWNo390tcvV5akFGqoCo/edit?gid=347337235

# Giving Tuesday
# If CMU doesn't give us specific links, just use cmubuggy.org/baa-gift
# News Post
#Redirect 302 /givingtuesday-news https://www.givecampus.com/s/h7z1h1
Redirect 302 /givingtuesday-news https://cmubuggy.org/baa-gift
# Web Site Homepage Promo
#Redirect 302 /givingtuesday-web https://www.givecampus.com/s/micrpb
Redirect 302 /givingtuesday-web https://cmubuggy.org/baa-gift
# Member/Nonmember Direct Email
#Redirect 302 /givingtuesday-mail https://www.givecampus.com/s/x24j8r
Redirect 302 /givingtuesday-mail https://cmubuggy.org/baa-gift
# Raw Post to Discord Link + All Other Sources
#Redirect 302 /givingtuesday https://www.givecampus.com/s/rsuikf
Redirect 302 /givingtuesday https://cmubuggy.org/baa-gift
# Other Socials (Insta, Facebook, X)
#Redirect 302 /givingtuesday-baa https://www.givecampus.com/s/xsp5tm
Redirect 302 /givingtuesday-baa https://cmubuggy.org/baa-gift

# 2025 BAA Officer voting
Redirect 302 /vote https://docs.google.com/forms/d/e/1FAIpQLScPsSAk10xiEbU0Su5DawpxSSZVT1SMRDA0q1QGJR59DE5_pQ/viewform

# Membership Update Forum & Giving Links
Redirect 302 /memberupdate https://docs.google.com/forms/d/e/1FAIpQLSdWXstvHgL3Zt5BzOnL21qkq1VpxUrTYLR3DGYB9KCQD3lMGQ/viewform
Redirect 302 /baa-gift https://givenow.cmu.edu/campaigns/42524/donations/new?a=7676936&designation=buggyalumnichapterassociation
Redirect 302 /endowment-gift https://givenow.cmu.edu/campaigns/42524/donations/new?a=7676936&designation=buggyendowedfund

# Rewrite some iOS favicon handling (404 the precompsed icon, push the root apple-touch-icon to favicons/)
# This is needed so they don't get caught by the /news redirect.
RewriteRule		^apple-touch-icon.png$			favicons/apple-touch-icon.png	[NC,L]
RewriteRule		^apple-touch-icon-precomposed.png$	-							[L,R=404]

# top level sections
RewriteRule		^history[/]*$					index.php?s=history				[NC,L]

# history section: specific objects
#
# note: for the url keys, be careful about what characters we let through to reduce
# any potential XSS risk.  Most of our identifiers are alphanumeric at worst anyway.
# For similar reasons, use care with anything that gets a QSA flag for additional parameters.
RewriteRule		^history/buggy/([a-z0-9\-]+)/?$						index.php?s=history&p=buggy&urlkey=$1			[NC,L]
RewriteRule		^history/org/([a-z0-9]+)/?$							index.php?s=history&p=org&urlkey=$1				[NC,L]
RewriteRule		^history/person/([a-z0-9]+)/?$						index.php?s=history&p=person&id=$1				[NC,L]
RewriteRule		^history/raceday/([0-9]+)/?$						index.php?s=history&p=raceday&year=$1			[NC,L]
# Apr 1 2024 (now a redirect)
RewriteRule		^history/buggyday/([0-9]+)/?$						/history/raceday/$1			[R,NC,L]

RewriteRule		^history/baa/([0-9]+)/?$							index.php?s=history&p=baa&year=$1				[NC,L]
RewriteRule		^history/sweepstakes/([0-9]+)/?$					index.php?s=history&p=sweepstakes&year=$1		[NC,L]
RewriteRule		^history/team/([a-z0-9.]+)/?$						index.php?s=history&p=entry&urlkey=$1			[NC,L]

# /history section: categories (and list versions of the specific object pages)
RewriteRule		^history/award[/]*$									index.php?s=history&p=awards 					[NC,L]
RewriteRule		^history/buggy[/]*$									index.php?s=history&p=buggylist					[NC,L]
RewriteRule		^history/buggybook[/]*$								index.php?s=history&p=buggybook					[NC,L]
RewriteRule		^history/org[/]*$									index.php?s=history&p=orglist					[NC,L]

# /history/buggybooks seems a likely typo and we should
# redirect it (301) back to /history/buggybook
RewriteRule		^history/buggybooks[/]*$							/history/buggybook										[R=301,NC,L]

# /history/buggies is probably just looking for the list of buggies
RewriteRule		^history/buggies[/]*$							/history/buggy										[R=301,NC,L]

# person needs to have the QSA flag in order to preserve the query string for searches.
#
# /history/people is a rewrite since otherwise it goes to /about/people and this
# seems more reasonable.
RewriteRule		^history/person[/]*$								index.php?s=history&p=personlist				[NC,L,QSA]
RewriteRule		^history/people[/]*$								index.php?s=history&p=personlist				[NC,L,QSA]
RewriteRule		^history/raceday[/]*$								index.php?s=history&p=racedaylist				[NC,L]
# Apr 1 2024 (now a redirect)
RewriteRule		^history/buggyday[/]*$								/history/raceday				[R,NC,L]
# record is obsolete, but keep it here to allow any dead links to work.
RewriteRule		^history/record[/]*$								index.php?s=history&p=toptimes 					[NC,L]
RewriteRule		^history/toptimes[/]*$								index.php?s=history&p=toptimes 					[NC,L]

RewriteRule		^history/baa[/]*$									index.php?s=history&p=baalist 					[NC,L]
RewriteRule		^history/sweepstakes[/]*$							index.php?s=history&p=sweepstakeslist 			[NC,L]

# team without a url parameter we will send to the org list, since there isn't an "entry list" per se.
RewriteRule		^history/team[/]*$									index.php?s=history&p=orglist					[NC,L]

# /raceday section

# Leaderboard
RewriteRule		^raceday/leaderboard/?$								index.php?s=raceday&p=leaderboard				[NC,L]

RewriteRule		^raceday/rosters/([0-9]+)/?$						index.php?s=raceday&p=rosters&year=$1			[NC,L]
RewriteRule		^raceday/rosters/([0-9]+)/([a-z0-9]+)/?$			index.php?s=raceday&p=rostersorg&year=$1&org=$2	[NC,L]
# Rosters with no parameter has some current-year based defaulting logic.
RewriteRule		^raceday/rosters[/]*$								index.php?s=raceday&p=rosters					[NC,L]

# Helper raceday links because people sometimes expect them to exist.
Redirect 302 /leaderboard /raceday/leaderboard
Redirect 302 /rosters /raceday/rosters
Redirect 302 /heats /raceday/heats

# Direct links to annual published heat schedule by sweepstakes.
Redirect 302 /raceday/rd24-heats https://docs.google.com/spreadsheets/d/e/2PACX-1vTHgAfJyY9UY6ut6qeAYZ7wmP4DBSPDjm84ckn_ZquDrRxaeCas31xVX-dWZ94iTMTzLR4myDRbwskF/pubhtml
Redirect 302 /raceday/rd25-heats https://docs.google.com/spreadsheets/d/e/2PACX-1vSJd6rPt-bSpjVw1vQfrbU6Ms_WfRb2u-yjyeohINSpOXerl9pd5K5xv3FSwl2O1EX-vq0pb3nXWQ6o/pubhtml?gid=480588153&single=true
Redirect 302 /raceday/rd25-bonus-heats https://docs.google.com/spreadsheets/d/e/2PACX-1vTgq8JkfjHmSwXTkVed5M3awzvTU0GZQ5fid6541T7-pvb1ARxvKg8IeRB9rDt1CQQ1E-ONiOfTWPVL/pubhtml?gid=480588153&single=true

# /tv various database pages for the broadcast
# Force redirect for the view page so javascript can pick up the type target.
RewriteRule		^tvportal[/]*$										index.php?s=tvportal							[NC,L]
RewriteRule		^tvportal/leaderboard/?$							index.php?s=tvportal&p=tvlb						[NC,L]
RewriteRule     ^tvportal/rosters[/]*$								index.php?s=tvportal&p=tvrosters				[NC,L]
RewriteRule		^tvportal/rosters/([0-9]+)/?$						index.php?s=tvportal&p=tvrosters&year=$1		[NC,L]
RewriteRule     ^tvportal/heats[/]*$								index.php?s=tvportal&p=tvheats					[NC,L]
RewriteRule		^tvportal/heats/([0-9]+)/?$							index.php?s=tvportal&p=tvheats&year=$1			[NC,L]

# Utility / API
RewriteRule		^api/buggyimg/([a-z0-9\-]+)/?$						content/api/buggyimg.php?urlkey=$1				[NC,L,QSA]
RewriteRule		^api/orgbuggylist/([a-z0-9\-]+)/?$					content/api/orgbuggylist.php?urlkey=$1			[NC,L]


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ news/$1 [L,NC,QSA]
