<?php
    $HISTORY_DATABASE = '[database name for history data]';
    $dbuser = '[db_user]';
    $dbpass = '[db_pass]';
    $dbhost = '[db_host]';
   	$ENABLE_GA_TAG = false;  // false or unset will prevent GA tag from showing
?>
