.bidboxtitle{
 background-color:white;
 color:black;
 padding:5px;
}


.bidbox{
 background-image:url(http://cmubuggy.org/img/55blackbg.png);
 margin:0;
 /*width:95%;
 border-style:solid;
 border-width:1px;
 border-left-width:1px;
 border-right-width:1px;
 border-top-width:1px;
 border-bottom-width:0px;
 border-color:black;
 */ 
 color:white;
}

.bidbox2{
 background-image:url(http://cmubuggy.org/img/55blackbg.png);
 margin:0;
 /*width:95%;
 border-style:solid;
 border-width:1px;
 border-left-width:1px;
 border-right-width:1px;
 border-top-width:1px;
 border-bottom-width:0px;
 border-color:black;
 */ 
 color:white;
 //margin-bottom:5px;

}

#max_bid_display{
	padding:3px;
}

.bidbox form,.bidbox2 form {
padding:10px;
}

#thebids{
 clear:left;
}

input.fuckit[type=text]{width:3.25em;*width:2.9em;}

.grey_box_float{
width:250px;
border-style:solid;
border-width:1px;
background-color:grey;
float:left;
}
.grey_box{
width:250px;
border-style:solid;
border-width:1px;
background-color:grey;
}
.cash{
border-width:2px;
border-style:dotted;
border-color:green;
padding:5px;

}

.header_login_id{
//align:bottom;
//float:left;
//font-size:12px;
padding-top:5px;
}

.menu_countdown{
font-size:12px;
}
.menu_countdown_field{
border-width:1px;
border-style:solid;
padding:3px;
margin:3px;
text-align:center;
}
.menu_countdown_desc{
padding:3px;
margin:3px;
}
.countdowntable{
background-image:url(http://goby.compbio.cs.cmu.edu/DurandAuction/stopwatch-300x300-small.jpg);
padding:0px;
margin-left:auto;
margin-right:auto;
align:center;
}
.auc_box{
font-family: verdana;
font-size:12px;
background-color:lightgrey;
width:256;
height:75;
border-width:1px;
border-style:solid;
margin-top:8px;
}

.auc_box_old{
font-family: verdana;
font-size:12px;
background-color:lightgrey;
float:left;
width:256;
height:75;
border-width:1px;
border-style:solid;
margin:10px;
background-repeat:no-repeat;
background-image:url(http://goby.compbio.cs.cmu.edu/DurandAuction/buggy_lineup_realsmall.png);
}

.auc_box_span{
 font-style:italic;
 font-size:12px;
 float:right; 
 align:right;
 text-align:right;
 margin-top:10px;
 margin-right:25px;
}

.auc_box_span_old{
 font-style:italic;
 float:right; 
 align:right;
 text-align:right;
 margin-left:auto;
 margin-right:0;
 height:53px;
 width:240px;
 padding-top:3px;
 padding-right:3px;
}

.auc_box_span_status{
 color:white;
 border-color:black;
 align:right;
 text-align:right;
 float:right;
 padding-bottom:3px;
 padding-left:3px;
 padding-right:3px;
 background-color:grey; 
 border-style:solid;
 border-width:1px;
 margin-left:15px;
}

.auc_box_span_heat{
 align:left;
 text-align:left;
 float:left;
 border-width:1px;
 border-style:solid;
 background-color:darkgrey;
 margin-left:0px;
 padding:2px; 
}

.auc_box_span_heat_old{
 align:left;
 text-align:left;
 float:left;
 border-width:1px;
 border-style:solid;
 background-color:darkgrey;
}

.auc_box_spacer_1_old{
 width:270px;
}

.auc_box_spacer_1{
 margin-top:67px;
 width:270px;
}

.auc_box_spacer_2{
 padding:0px;
 maring:0px;
 width:280px;
}
.auc_box_wrapper{
float:left;
width:280px;
height:93px;
margin:10px;
padding:0px;
}

.bid_item1{
background-color:#D6D6D6;
padding:5px;
border-style:solid;
border-width:0px;
border-top-width:1px;
}

b.bidamount{
font-size:16px;	
}
.bid_item-1{
background-color:#ABABAB;
padding:5px;
border-style:solid;
border-width:0px;
border-top-width:1px;
}

.lane_cell_1{
 border-style:solid;
 border-width:0px;
 border-bottom-width:1px;
 font-weight:bold; 
}
.lane_cell_2{
 border-style:solid;
 border-width:0px;
 border-bottom-width:1px;
 border-left-width:1px;
 border-right-width:1px;
 font-weight:bold;
}
.lane_cell_2a{
 border-style:solid;
 border-width:0px;
 border-left-width:1px;
 border-right-width:1px;
 font-weight:bold;
}
.lane_cell{
 font-weight:bold;
}

.bid_heat_box{
background-image:url(http://goby.compbio.cs.cmu.edu/DurandAuction/buggy_start2_small_bright.jpg);
width:436px;
height:304px;
color:black;
text-align:left;
margin:0px;
}

.bid_heat_title_box{
text-align:center;
background-image:url(http://cmubuggy.org/img/55blackbg.png);
font-size:18px;
color:white;
padding:3px;
margin-bottom:3px;
}

.bid_heat_footer_box{
text-align:center;
background-image:url(http://cmubuggy.org/img/55blackbg.png);
font-size:10px;
color:white;
padding:3px;
margin-top:3px;
}

.lane_spanone{
background-image:url(http://cmubuggy.org/img/70whitebg.png);
position:relative;
padding:5px;
border-style:solid;
border-width:1px;
}

.lane_spantwo{
background-image:url(http://cmubuggy.org/img/70whitebg.png);
position:relative;
padding:5px;
border-style:solid;
border-width:1px;
}

.lane_spanthree{
background-image:url(http://cmubuggy.org/img/70whitebg.png);
position:relative;
padding:5px;
border-style:solid;
border-width:1px;
}

.lane_shadow{
position:relative;
}
.lane_shadow_hidden{
position:relative;
visibility:hidden;
}

.bid_heat_box_wrapper{
 align:center; 
 width:445px;
 padding:0px;
 padding-bottom:0px;
 border-style:solid;
 border-width:1px;
 margin-bottom:10px;
}

.errorbox{
margin:8px;
}

.errorspan{
 background:url('http://cmubuggy.org/img/55blackbg.png') repeat;	
 font-size:12px;
 color:white;
 border-color:red;
 padding:5px;
 border-style:solid;
 border-width:1px;
}

.successspan{
 background:url('http://cmubuggy.org/img/55blackbg.png') repeat;	
 font-size:12px;
 color:white;
 border-color:white;
 padding:5px;
 border-style:solid;
 border-width:1px;
}

.finals_info{
background-color:white;
padding:5px;
}

