
a.more-link { font-weight:bold; }


div.newstitle {
	border-color:#000;
	margin-top:15px;
}

div.newsbody {
	margin-top:-10px;
	border-top:none;
}

div.newsbody a { text-decoration: underline; }

div.post-footer { 
	font-size:11px;
	margin-top:-10px;
	padding:3px 20px;
	border-color:#000;	
	border-top:none;
}

div.wordpresscredit {
	margin:0 10px;
	font-size:10px;
}

#commentform textarea {
	width:400px;
}

div.prevnext {
	font-weight:bold;  font-size:14px;
}